<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息列表</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/elementui.css">
    <!-- 引入组件库 -->
    <script src="../js/elementui.js"></script>
</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>

<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="用户名">
                <el-input v-model="searchForm.uname" placeholder="名称"></el-input>
            </el-form-item>
            <el-form-item label="联系电话">
                <el-input v-model="searchForm.phone" placeholder="名称"></el-input>
            </el-form-item>
            <el-form-item>
                <el-tooltip content="客官,点我帮你查询" placement="top">
                    <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                </el-tooltip>
                <el-tooltip content="客官,刷新试试呗！" placement="bottom" effect="light">
                    <el-button type="success" icon="plus" @click="flushClick">刷新</el-button>
                </el-tooltip>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="UNAME"
                    label="用户名"
                    width="100">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="REALNAME"
                    label="真实姓名"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="AGE"
                    label="年龄"
                    width="70"
                    align="center"
                    v-if="false">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="PHONE"
                    label="联系电话"
                    width="110">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="IDCARD"
                    label="身份证号"
                    width="150">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="ICPICA"
                    label="身份证正面"
                    width="120">
                <template slot-scope="scope">
                    <el-popover placement="right" title="身份证正面" trigger="hover">
                        <img :src="path+scope.row.ICPICA" width="270" height="170"/>
                        <img slot="reference" :src="path+scope.row.ICPICA"  min-width="70" height="70" />
                    </el-popover>
                </template>
            </el-table-column>
            <!--<el-table-column prop="ICPICA" label="身份证正面"width="120">
                <template slot-scope="scope">
                    <el-popover placement="right" title="身份证正面" trigger="hover">
                    <img :src="'/userInfo/show?fileName='+scope.row.ICPICA" width="270" height="170"/>
                    <img slot="reference" :src="'/userInfo/show?fileName='+scope.row.ICPICA"  min-width="70" height="70" />
                    </el-popover>
                </template>
            </el-table-column>-->
            <!--<el-table-column prop="ICPICB" label="身份证反面"width="120">
                <template slot-scope="scope">
                    <el-popover placement="right" title="身份证反面" trigger="hover">
                        <img :src="'/userInfo/show?fileName='+scope.row.ICPICB" width="270" height="170"/>
                        <img slot="reference" :src="'/userInfo/show?fileName='+scope.row.ICPICB"  min-width="70" height="70" />
                    </el-popover>
                </template>
            </el-table-column>-->
            <el-table-column
                    align="center"
                    prop="ICPICB"
                    label="身份证反面"
                    width="120">
                <template slot-scope="scope">
                    <el-popover placement="right" title="身份证反面" trigger="hover">
                        <img :src="path+scope.row.ICPICB" width="270" height="170"/>
                        <img slot="reference" :src="path+scope.row.ICPICB"  min-width="70" height="70" />
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="ADDRESS"
                    label="地址"
                    width="150">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="EMAIL"
                    label="邮箱"
                    width="150">
            </el-table-column>
            <el-table-column
                    label="操作">
                <template scope="scope">
                    <el-tooltip content="亲,点我查询详情哦！" placement="top">
                        <el-button :plain="true" type="success" size="small" icon="edit" @click="lookClick(scope.row)">查看详情</el-button>
                    </el-tooltip>
                    <el-tooltip content="亲,这是审核按钮哦！"placement="bottom" effect="light">
                        <el-button type="primary" icon="el-icon-edit" size="small" @click="editClick(scope.row)"></el-button>
                    </el-tooltip>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <!--<el-col :span="6" >
            <el-button :plain="true" type="danger" size="small" icon="delete" @click="removeSelection">删除所选</el-button>
        </el-col>-->
        <el-col :span="18" >
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>
    <!----------------------------------------------------------------审核界面-->
    <el-dialog title="个人信息认证审核" :visible.sync="editFormVisible" :close-on-click-modal="true">
        <el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">
            <el-form-item label="用户ID" prop="USERID"  v-if="false">
                <el-input type="text" v-model="editForm.USERID" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="用户名" prop="UNAME">
                <el-input type="text" v-model="editForm.UNAME" auto-complete="off" readonly="true"></el-input>
            </el-form-item>
            <el-form-item label="审核结果" prop="ADUITRESULT">
                <el-radio-group v-model="editForm.ADUITRESULT">
                    <el-radio class="radio" label="1">通过</el-radio>
                    <el-radio class="radio" label="2">驳回</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="审核人" >
                <el-select v-model="editForm.OPERATORID" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.ID"
                            :label="item.ENAME"
                            :value="item.ID">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="审核备注" prop="ADUITREMARK">
                <el-input type="textarea" v-model="editForm.ADUITREMARK" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisible = false">取消</el-button>
            <el-button type="primary" @click.native="editSubmit" :loading="editLoading">提交</el-button>
        </div>
    </el-dialog>
    <!--查看详情界面-->
    <el-dialog title="用户信息" :visible.sync="lookFormVisible" :close-on-click-modal="false">
        <el-form :model="lookForm" label-width="100px" :rules="lookFormRules" ref="lookForm" >
            <el-row>
                <el-col :span="10">
                    <el-form-item label="用户ID" prop="USERID">
                        <el-input v-model="lookForm.USERID" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="用户名" prop="UNAME">
                        <el-input v-model="lookForm.UNAME" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="10">
                    <el-form-item label="真实姓名" prop="REALNAME">
                        <el-input v-model="lookForm.REALNAME" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="出生日期" prop="BIRTHDAY">
                        <el-input v-model="lookForm.BIRTHDAY" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="10">
                    <el-form-item label="联系电话" prop="PHONE">
                        <el-input v-model="lookForm.PHONE" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="地址" prop="ADDRESS">
                        <el-input v-model="lookForm.ADDRESS" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="10">
                    <el-form-item label="身份证号" prop="IDCARD">
                        <el-input v-model="lookForm.IDCARD" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="邮箱" prop="EMAIL">
                        <el-input v-model="lookForm.EMAIL" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="10">
                    <el-form-item label="身份证正面" prop="ICPICA">
                        <template>
                            <el-popover
                                    placement="top-start"
                                    title="身份证正面"
                                    width="200"
                                    trigger="hover">
                                <img :src="path+lookForm.ICPICA" width="270" height="170"/>
                                <el-button slot="reference" style="background-color: #00bbee">显示图片</el-button>
                            </el-popover>
                        </template>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="身份证反面" prop="ICPICB">
                        <template>
                            <el-popover
                                    placement="top-start"
                                    title="身份证反面"
                                    width="200"
                                    trigger="hover">
                                <img :src="path+lookForm.ICPICB" width="270" height="170"/>
                                <el-button slot="reference" style="background-color: #00bbee">显示图片</el-button>
                            </el-popover>
                        </template>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="10">
                    <el-form-item label="学历" prop="EDUCATION">
                        <el-input v-model="lookForm.EDUCATION" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="年龄" prop="AGE">
                        <el-input v-model="lookForm.AGE" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="10">
                    <el-form-item label="工作" prop="WORKING">
                        <el-input v-model="lookForm.WORKING" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="月收入" prop="INCOME">
                        <el-input v-model="lookForm.INCOME" auto-complete="off" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="10">
                    <el-form-item label="近来工资流水" prop="WAGEFLOW">
                        <template>
                            <el-popover
                                    placement="top-start"
                                    title="近来工资流水"
                                    width="200"
                                    trigger="hover">
                                <img :src="path+lookForm.WAGEFLOW" width="270" height="170"/>
                                <el-button slot="reference" style="background-color: #00bbee">显示图片</el-button>
                            </el-popover>
                        </template>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="个人信用报告" prop="CREDITREPORT">
                        <template>
                            <el-popover
                                    placement="top-start"
                                    title="个人信用报告"
                                    width="200"
                                    trigger="hover">
                                <img :src="path+lookForm.CREDITREPORT" width="270" height="170"/>
                                <el-button slot="reference" style="background-color: #00bbee">显示图片</el-button>
                            </el-popover>
                        </template>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </el-dialog>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '个人信息认证列表'
        }
    });

    var tableView = new Vue({
        el: '#tableView',
        data: {
            options:[],
            path:'/notice/show?fileName=',
            //列表数据
            tableData: [],
            //显示加载中样式
            loading:false,
            //搜索表单
            searchForm: {
                uname: '',
                phone: ''
            },
            //多选值
            multipleSelection: [],
            //当前页
            currentPage:1,
            //分页大小
            pageSize:10,
            //总记录数
            total:800,
            //删除的弹出框
            deleteVisible:false,
            //编辑界面是否显示
            editFormVisible:false,
            //查看详情页面是否显示
            lookFormVisible:false,
            editLoading: false,
            goUrl:'',
            editFormRules: {
                name: [
                    { required: true, message: '请输入姓名', trigger: 'blur' }
                ]
            },
            lookFormRules: {
                name: [
                    { required: true, message: '请输入姓名', trigger: 'blur' }
                ]
            },
            //驳回界面数据
            editForm: {
                USERID:'',
                ADUITRESULT:'',
                OPERATORID:'',
                ADUITREMARK:'',
                UNAME:''
            },
            //查看详情界面数据
            lookForm: {
                USERID: 0,
                UNAME: '',
                REALNAME: '',
                BIRTHDAY:'',
                AGE: 0,
                PHONE:'',
                ADDRESS: '',
                IDCARD:'',
                EMAIL:'',
                ICPICA:'',
                ICPICB:'',
                EDUCATION:'',
                AGE:'',
                WORKING:'',
                INCOME:'',
                WAGEFLOW:'',
                CREDITREPORT:''
            }
        },
        created:function(){
            var self = this;
            axios.post('/userInfo/page',{'pageNo':this.currentPage,'pageSize':this.pageSize}).then(function(response){
                self.total=response.data.total;
                self.tableData = response.data.pageData;
            })
            axios.post('/biaode/admin').then(function(response){
                self.options=response.data;
            })
        },
        methods:{
            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var self = this;
                var searchForm={'pageNo':this.currentPage,'pageSize':this.pageSize,'uname':this.searchForm.uname,'phone':this.searchForm.phone};
                axios.post('/userInfo/page',searchForm).then(function(response){
                    _self.total=response.data.total;
                    _self.tableData = response.data.pageData;
                })
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //审核事件
            editClick:function(row) {
                this.goUrl="/userInfo/edit";
                this.editFormVisible = true;
                //alert(JSON.stringify(row));
                this.editForm = Object.assign({}, row);
            },
            //查看详情事件
            lookClick:function(row) {
                this.lookFormVisible = true;
                this.lookForm = Object.assign({}, row);
            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //刷新
            flushClick:function () {
                var self = this;
                this.searchForm={
                    uname: '',
                    phone: ''
                }
                this.loadingData();//重新加载数据
            },
            //表格勾选事件
            selectionChange:function(val) {
                for(var i=0;i<val.length;i++) {
                    var row = val[i];
                }
                this.multipleSelection = val;
                console.info(val);
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //保存点击事件
            editSubmit:function(){
                var _self = this;
                _self.loading = true;
                var formData =this.editForm;
                var goUrl=this.goUrl;
                axios.post(goUrl,formData).then(function(response){
                    if(response.data>0){
                        _self.$message({
                            message:'审核成功通过',
                            type: 'success'
                        });
                        _self.editFormVisible = false;
                    }else{
                        _self.$message({
                            message:'审核失败',
                            type: 'error'
                        });
                    }
                    _self.loadingData();//重新加载数据
                })
                console.info(this.editForm);
            }
        }

    })
</script>

</body>
</html>