<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>borrow</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="../css/common.css" rel="stylesheet" />
	<link href="../css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../script/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../script/all.js"></script>
</head>
<body>
<!-- header start -->
<div class="header-top min-width">
    <div class="container fn-clear"> <strong class="fn-left">咨询热线：400-668-6698<span class="s-time">服务时间：9:00 - 18:00</span></strong>
      <ul class="header_contact">
        <li class="c_1"> <a class="ico_head_weixin" id="wx"></a>
          <div class="ceng" id="weixin_xlgz" style="display: none;">
            <div class="cnr"> <img src="../images/code.png"> </div>
            <b class="ar_up ar_top"></b> <b class="ar_up_in ar_top_in"></b> </div>
        </li>
        <li class="c_2"><a href="#" target="_blank" title="官方QQ" alt="官方QQ"><b class="ico_head_QQ"></b></a></li>
        <li class="c_4"><a href="#" target="_blank" title="新浪微博" alt="新浪微博"><b class="ico_head_sina"></b></a></li>
      </ul>
		<ul class="fn-right header-top-ul">
			<!--用户名为空-->
			<li th:if="${session.userName} eq null">
				<div class="" >
					<a href="/jump/register" class="" title="免费注册" >免费注册</a>
				</div>
			</li>
			<li th:if="${session.userName} eq null">
				<div class="" >
					<a href="/jump/login" class="js-login" title="登录" >登录</a>
				</div>
			</li>
			<!--用户名不为空-->
			<li th:if="${session.userName} ne null">
				<div class="">
					<span th:text="欢迎您 "></span>
					<span th:text="${session.userName}"></span>
				</div>
			</li>
			<li th:if="${session.userName}ne null">
				<div class="" >
					<a href="/jump/login" class="js-login" title="退出">退出</a>
				</div>
			</li>
		</ul>
    </div>
  </div>

<div class="header min-width">
	<div class="container">
		<div class="fn-left logo"> <a class="" href="jump/index"> <img src="../images/logo.jpg"  title=""> </a> </div>
		<ul class="top-nav fn-clear">
			<li > <a href="/jump/index">首页</a> </li>
			<li> <a href="/jump/list" class="">我要投资</a> </li>
			<li class="on"><a href="/jump/borrow" class="">我要借款</a> </li>
			<li> <a href="/jump/help">安全保障</a> </li>
			<li class="top-nav-safe"> <a href="/jump/personal">我的账户</a> </li>
			<li> <a href="/jump/about">关于我们</a> </li>
		</ul>
	</div>
</div>
<!-- end  -->
<!-- end banner -->
<div class="bor_con_wper">
	  <div class="bor_con px1000">
	  	    <div class="bor_detail">
	  	    	   <h2 class="bor_detail_tit">
	  	    	   	  <span class="bor_decurspan">房产抵押</span>
	  	    	   	  <span>车辆抵押</span>
	  	    	   	  <span>信用贷款</span>
	  	    	   </h2>
	  	    	   <div class="bor_detail_box">
	  	    	   	    <div class="bor_det_one clearfix pt30 pb30">
	  	    	   	    	  <div class="bor_det_onel fl">
	  	    	   	    	  	       <p class="bor_p1">你我贷平台的借款功能旨在帮助借款用户以
										低成本获得借款。用户在需要资金时，可以将
										自有房产和车产作为抵押物，小油菜线下审核
										通过后，根据抵押物的价值融资。</p>
										<p class="bor_p2">你我贷平台的借款功能旨在帮助借款用户以
										低成本获得借款。用户在需要资金时，可以将
										自有房产和车产作为抵押物，小油菜线下审核
										通过后，根据抵押物的价值融资。</p>
										<h3 class="bor_onel_tit"><span>申请条件</span></h3>
										<ul class="bor_onel_ul">
											 <li><img src="../images/bor_pic01.png" alt="">年满18周岁以上的公民
											 </li>
											 <li><img src="../images/bor_pic02.png" alt="">需要北京房产或车产抵押
											 </li>
											 <li><img src="../images/bor_pic03.png" alt="">个人或企业银行征信记录良好
											 </li>
											 <li><img src="../images/bor_pic04.png" alt="">
											  无现有诉讼记录
											 </li>
											 
										</ul>
										<h3 class="bor_onel_tit"><span>提交资料</span></h3>
										<ul class="bor_onel_ul">
											 <li>&nbsp;<img src="../images/bor_pic05.png" alt="">身份证
											 </li>
											 <li><img src="../images/bor_pic06.png" alt="">申请资料
											 </li>
											 <li><img src="../images/bor_pic07.png" alt="">其他
											 </li>
										</ul>
	  	    	   	    	  </div>  
	  	    	   	    	  <!-- end l -->
	  	    	   	    	  <div class="bor_det_oner fl">
	  	    	   	    	  	     <form action="/usermaterials/addMaterials" method="post">
	  	    	   	    	  	     	  	   <div>
	  	    	   	    	  	     	  	   	   <label>申请人</label>
	  	    	   	    	  	     	  	   	   <input type="text" name="applicant" >
	  	    	   	    	  	     	  	   </div>
	  	    	   	    	  	     	  	   <div class="mt15">
	  	    	   	    	  	     	  	   	   <label>*借款金额</label>
	  	    	   	    	  	     	  	   	   <input type="" class="bor_inputbg01" name="borrowmoney" >
	  	    	   	    	  	     	  	   </div>
                                               <div class="mt15">
	  	    	   	    	  	     	  	   	   <label>*借款期限</label>
	  	    	   	    	  	     	  	   	   <input type="" class="bor_inputbg02" name="timelimit">
	  	    	   	    	  	     	  	   </div>
	  	    	   	    	  	     	  	   <div class="mt15">
	  	    	   	    	  	     	  	   	   <label>*手机号码</label>
	  	    	   	    	  	     	  	   	   <input type="" name="tel">
	  	    	   	    	  	     	  	   </div>
	  	    	   	    	  	     	  	   <div class="mt15 ">
	  	    	   	    	  	     	  	   	   <label class="guarmethod_l fl">*担保方式</label>
												   <!--<select>
													   <option selected="selected" disabled="disabled">贷款方式</option>
													   <option>车辆抵押</option>
													   <option>房屋抵押</option>
													   <option>信用贷款</option>
												   </select>-->
												   <select id="" name="showWay" onchange="show_input(this.value)">
													   <option value="1">车辆抵押</option>
													   <option value="2">房屋抵押</option>
													   <option value="0">信用贷</option>



												   </select>

												  <input type="input" name="borNum" value="数量" id="my_input1"/>
												  <input type="input" name="borVal" value="价值" id="my_input2"/>
											   </div>
	  	    	   	    	  	     	  	   <div class="mt15">
	  	    	   	    	  	     	  	   	   <label>*借款用途</label>
	  	    	   	    	  	     	  	   	   <select name="purpose">
	  	    	   	    	  	     	  	   	   	  <option>选择借款类别</option>
													   <option value="买房">买房</option>
													   	<option>买车</option>
													   <option>娶媳妇</option>
	  	    	   	    	  	     	  	   	   </select>
	  	    	   	    	  	     	  	   </div>
	  	    	   	    	  	     	  	    <div class="mt15">
	  	    	   	    	  	     	  	   	   <label>*借款描述</label> 
	  	    	   	    	  	     	  	   	   <textarea name="des"></textarea>
	  	    	   	    	  	     	  	   	 
	  	    	   	    	  	     	  	   </div>
											  <div class="mt15" >
												  <label>*借款情况</label>
												  <select id="jiekuan">
												  </select>
											  </div>
											  <div class="mt15" >
												  <label>借款年利率</label>
												  <select name="par">
													  <option selected="selected" disabled="disabled">请选择</option>
													  <option value="0.05">5%</option>
													  <option value="0.10">10%</option>
													  <option value="0.15">15%</option>
												  </select>
											  </div>
											  <div class="mt15" >
												  <label>*还款方式</label>
												  <select id="huankuan">
													  <option selected="selected" disabled="disabled">请选择</option>
												  </select>
											  </div>
											  <div class="mt15" >
	  	    	   	    	  	     	  	   	   <label>*验证码</label>
	  	    	   	    	  	     	  	   	   <input type="text" class="yanzheng" >
	  	    	   	    	  	     	  	   </div>
	  	    	   	    	  	     	  	   <div class="mt30">
	  	    	   	    	  	     	  	   	   <label></label>
	  	    	   	    	  	     	  	   	   <input type="submit" value="提交材料">
	  	    	   	    	  	     	  	   </div>
	  	    	   	    	  	     	  </fieldset>

	  	    	   	    	  	     </form>
	  	    	   	    	  </div>
	  	    	   	    </div>
	  	    	   	    <!-- end 房产抵押 -->
	  	    	   	    <div class="bor_det_one" style="display:none;">
	  	    	   	    	  2  
	  	    	   	    </div>
	  	    	   	    <!-- end  -->
	  	    	   	    <div class="bor_det_one" style="display:none;">
	  	    	   	    	 3
	  	    	   	    </div>
	  	    	   	    <!-- end  -->
	  	    	   	    <div class="bor_det_one" style="display:none;">
	  	    	   	    	 4
	  	    	   	    </div>
	  	    	   	    <!-- end  -->
	  	    	   </div>
	  	    </div>
	  </div>
</div>

<script>
    $(function(){
        $.ajax({
            type:"post",
            dataType:"json",
            url:"/borrow/getPayList",
            success:function(data){
                if(data!=''){
                    var Str = "";
                    for (var i = 0; i < data.length; i++) {
                        Str +="<option value='"+data[i].ID+"'>"+data[i].DES+"</option>";
                    }
                    $("#huankuan").append(Str);
                }
            }
        });
    });
    $(function(){
        $.ajax({
            type:"post",
            dataType:"json",
            url:"/borrow/getConditionList",
            success:function(data){
                if(data!=''){
                    var Str = "";
                    for (var i = 0; i < data.length; i++) {
                        Str +="<option value='"+data[i].ID+"'>"+data[i].DES+"</option>";
                    }
                    $("#jiekuan").append(Str);
                }
            }
        });
    });
    function show_input(test_value){

        if(test_value==0){

            document.getElementById("my_input1").style.display="none";
            document.getElementById("my_input2").style.display="none";

        }else{
            document.getElementById("my_input2").style.display="block";
            document.getElementById("my_input1").style.display="block";

        }

    }
</script>
</body>
</html>