<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../css/common.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../css/user.css" />
<link rel="stylesheet" type="text/css" href="../css/jquery.datetimepicker.css"/>
  <script type="text/javascript" src="../script/jquery-1.8.3.min.js"></script>
<script src="../script/user.js" type="text/javascript"></script>
<!--easyui-->
  <link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
  <script type="text/javascript" src="../easyui/jquery.min.js"></script>
  <script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
</head>
<body>
<header>
  <div class="header-top min-width">
    <div class="container fn-clear"> <strong class="fn-left">咨询热线：400-668-6698<span class="s-time">服务时间：9:00 - 18:00</span></strong>
      <ul class="header_contact">
        <li class="c_1"> <a class="ico_head_weixin" id="wx"></a>
          <div class="ceng" id="weixin_xlgz" style="display: none;">
            <div class="cnr"> <img src="../images/code.png"> </div>
            <b class="ar_up ar_top"></b> <b class="ar_up_in ar_top_in"></b> </div>
        </li>
        <li class="c_2"><a href="#" target="_blank" title="官方QQ" alt="官方QQ"><b class="ico_head_QQ"></b></a></li>
        <li class="c_4"><a href="#" target="_blank" title="新浪微博" alt="新浪微博"><b class="ico_head_sina"></b></a></li>
      </ul>
      <ul class="fn-right header-top-ul">
        <!--用户名为空-->
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="/jump/register" class="" title="免费注册" >免费注册</a>
          </div>
        </li>
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="/jump/login" class="js-login" title="登录" >登录</a>
          </div>
        </li>
        <!--用户名不为空-->
        <li th:if="${session.userName} ne null">
          <div class="">
            <span th:text="欢迎您 "></span>
            <span th:text="${session.userName}"></span>
          </div>
        </li>
        <li th:if="${session.userName}ne null">
          <div class="" >
            <a href="/jump/login" class="js-login" title="退出">退出</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="header min-width">
    <div class="container">
      <div class="fn-left logo"> <a class="" href="/jump/index"> <img src="../images/logo.jpg"  title=""> </a> </div>
      <ul class="top-nav fn-clear">
        <li class="on"> <a href="/jump/index">首页</a> </li>
        <li> <a href="/jump/list" class="">我要投资</a> </li>
        <li> <a href="/jump/borrow" class="">我要借款</a> </li>
        <li> <a href="/jump/help">安全保障</a> </li>
        <li class="top-nav-safe"> <a href="/jump/personal">我的账户</a> </li>
        <li> <a href="/jump/about">关于我们</a> </li>
      </ul>
    </div>
  </div>
</header>
<!--个人中心-->
<div class="wrapper wbgcolor">
  <div class="w1200 personal">
    <div class="credit-ad"><img src="../images/clist1.jpg" width="1200" height="96"></div>
    <div id="personal-left" class="personal-left">
      <ul>
        <li class="pleft-cur"><span><a href="/jump/personal"><i class="dot dot1"></i>账户总览</a></span></li>
        <li><span><a href="/jump/huankuan"><i class="dot dot09"></i>我的还款</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="/jump/yihuankuan">已还款记录</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="/jump/money_record">资金记录</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="/jump/deposits_record">投资记录</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="/jump/money_plan">回款计划</a></span></li>
        <li class=""><span><a href="/jump/renzheng"><i class="dot dot02"></i>个人身份认证</a> </span> </li>
        <li><span><a href="/jump/withdraw1"><i class="dot dot03"></i>充值</a></span></li>
        <li class=""><span><a href="/jump/pay1"><i class="dot dot04"></i>提现</a></span></li>
        <li style="position:relative;" class=""> <span> <a href="/jump/myred_packets"> <i class="dot dot06"></i> 我的红包 </a> </span> </li>
        <li class=""><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="/jump/change_history">兑换历史</a></span></li>
        <li style="position:relative;"> <span> <a href="/jump/system_message"><i class="dot dot08"></i>系统信息 </a> </span> </li>
        <li><span><a href="/jump/account_setting"><i class="dot dot09"></i>账户设置</a></span></li>
      </ul>
    </div>
    <style>
		        /*获取验证码*/
				a.hqyzm{ float:left; background:#ea524a; width:125px; height:35px; line-height:35px; font-size:14px; margin-left:6px; text-align:center; color:#fff; border-radius:2px;}
				a.hqyzm:hover{color:#fff;background:#ff8882;}
				/*获取验证码后在倒计时中的样式*/
				a.hqyzmAfter{float:left; background:#c0c0c0; width:125px; height:35px; line-height:35px; font-size:14px; margin-left:6px; text-align:center; color:#fff; border-radius:2px;}
	   </style>
    <script type="text/javascript">
			//<![CDATA[
			    var flag = false;
				function sCode(xhr, status, args, args2) {
					if (!args.validationFailed) {
						$("#sendCode").hide();
						$("#sendCodeGrey").show();
						/* if(flag && $("#sendCode").is(":hidden")){
							return;
						} */
						flag = true;
						var mobileNumber = $("#form\\:mobileNumber").val().replace(/(^\s*)|(\s*$)/g,"");
						if("dx" == args2){
							$("#mobileMsg").html(mobileNumber.substring(0,3) + "****" + mobileNumber.substring(7,11));
							$("#authCodeMsg").css({"display": ""});
							$("#authCodeMsg2").css({"display": "none"});
						}else if("yy" == args2){
							$("#mobileMsg2").html(mobileNumber.substring(0,3) + "****" + mobileNumber.substring(7,11));
							$("#authCodeMsg").css({"display": "none"});
							$("#authCodeMsg2").css({"display": ""});
						}
						timer("sendAuthCodeBtn1", {
							"count" : 60,
							"animate" : true,
							initTextBefore : "后可重新操作",
							initTextAfter : "秒",
							callback:function(){
								$("#sendCode").show();
								$("#sendCodeGrey").hide();
								flag = false;
								$("#authCodeMsg").css({"display": "none"});
								$("#authCodeMsg2").css({"display": "none"});
							}
						}).begin();
					}
				}
				 //验证验证码是否为空
		       function phoneValidate()
		       {
	        	   var authCode=$("#form\\:authCode").val();
	        	   var nullFlag=(authCode=="");
	        	   if(nullFlag)
		   			{
		   				$("#form\\:authCode_message").remove();
		   				var $span = $("<span id=form\:authCode_message class=error>请输入验证码</span>");
		   				$("#authCodeErrorDiv").append($span);
		   				return false;
		   			}

	        	   return true;
		       }
		       $(document).ready(function(){
		  			var investorValiCodeError = $("#investorValiCodeError").val();
		  			if(investorValiCodeError.length > 0){
		  				$("#form\\:formauthCode_message").remove();
		  	   			var $span = $("<span id=form\:formauthCode_message class=error>"+investorValiCodeError+"</span>");
		  	   			$("#authCodeErrorDiv").append($span);
		  			}
		  	   });



	         function showSpan(op)
	         {
					$("body").append("<div id='mask'></div>");
					$("#mask").addClass("mask").css("display","block");

					$("#"+op).css("display","block");
			 }

			function displaySpan(op){
					$("#mask").css("display","none");
					$("#"+op).css("display","none");
			}
			//]]>
		</script>
    <input id="investorValiCodeError" type="hidden" name="investorValiCodeError">
    <!--判断是否已经认证过个人信息-->
    <script type="text/javascript">
        $(function(){
            var username=$("#userName").val();
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/renzheng/isRen",
                data:{userName:username},
                success:function (data) {
                    if(data==1){
                        $("#liRen").show();
                        $("#liRen3").hide();
                        $("#liRen1").hide();
                        $("#liRen2").hide();
                    } if(data==2){
                        $("#liRen").hide();
                        $("#liRen3").hide();
                        $("#liRen1").show();
                        $("#liRen2").hide();
                    }if(data==3){
                        $("#liRen").hide();
                        $("#liRen3").show();
                        $("#liRen1").hide();
                        $("#liRen2").show();
                    }if(data==0) {
                        $("#liRen").hide();
                        $("#liRen3").show();
                        $("#liRen1").hide();
                        $("#liRen2").hide();
                    }
                }
            })
        })
    </script>

    <div class="personal-main">
      <div class="personal-pay">
        <h3><i>认证个人信息</i></h3>
        <form method="post" action="/renzheng/update" enctype="multipart/form-data">
          <input type="hidden" id="userName" th:value="${session.userName}">
          <div>
            <ul>
              <li id="liRen"  style="display: none;">
                <p><h3>您已经实名认证了</h3></p>
              </li>
              <li id="liRen1"  style="display: none;">
                <p><h3>您的申请已提交请耐心等待，两个工作日之内给您处理！</h3></p>
              </li>
              <li id="liRen2"  style="display: none;">
                <p><h3>您的申请已经被驳回，请重新进行身份验证  ！</h3></p>
              </li>
              <li id="liRen3"  style="display: none;">
                <p><h3>请您按以下步骤进行个人身份信息认证！</h3></p>
                <div class="pay-form">
            <h6>请输入您的身份证信息</h6>
            <ul>
              <li>
                <label for="username">用户姓名</label>
                <input type="text"  name="username" class="pay-txt" th:value="${session.userName}" maxlength="16" readonly="readonly">
                <div id="usernameErrorDiv"></div>
              </li>
              <li>
                <label for="realname">真实姓名</label>
                <input type="text" name="realname" class="pay-txt" maxlength="16"  placeholder="您的真实姓名">
                <div id="realnameErrorDiv"></div>
              </li>
              <li>
                <label for="birthday">出生日期</label>
                <input id="birthday" name="birth" class="easyui-datetimebox" maxlength="18" style="width:240px">
              </li>
              <li>
                <label for="age">年龄</label>
                <input id="age" name="age" type="text" class="pay-txt" maxlength="16"  placeholder="年龄" readonly="readonly">
                <!--级联年龄-->
                <script type="text/javascript">
                    $(function(){
                        $("#age").click(function(){
                            var birth = $("#birthday").val();
                            var byear = birth.substr(6,4);
                            var now = new Date();
                            var nyear = now.getFullYear();
                            var age = nyear - byear;
                            $("#age").val(age);
                        })
                    })
                </script>
              </li>
              <li>
                <label for="paypwd">支付密码</label>
                <input type="password" name="paypwd" class="pay-txt" maxlength="16"  placeholder="请设置支付密码">
              </li>
              <li>
                <label for="paypwd">确认密码</label>
                <input type="password" class="pay-txt" maxlength="16"  placeholder="请再次输入支付密码">
              </li>
              <li>
                <label for="idcard">身份证号</label>
                <input name="idcard" type="text" class="pay-txt" maxlength="18">
              </li>
              <li>
                <label for="idcardA">身份证正面</label>
                <input name="idcarda" type="file" class="pay-txt" maxlength="16">
              </li>
              <li>
                <label for="idcardB">身份证反面</label>
                <input name="idcardb" type="file" class="pay-txt" maxlength="16">
              </li>
              <li>
                <label for="address">地址</label>
                <select id="province" name="pro" class="pay-txt" style="width: 100px;height:40px">
                  <option selected>请选择省份</option>
                </select>
                <select id="city" name="city" class="pay-txt" style="width: 100px;height:40px">
                  <option selected>请选择城市</option>
                </select>
                <select id="area" name="area" class="pay-txt" style="width: 120px;height:40px">
                  <option selected>请选择县(区)</option>
                </select>
                <input type="text" name="house" class="pay-txt" placeholder="具体地址"/>
              </li>
              <li>
                <label for="education">学历</label>
                <select name="education"  class="pay-txt" style="width: 100px;height:40px">
                  <option selected="selected" disabled="disabled">请选择学历</option>
                  <option value="初中及以下">初中及以下</option>
                  <option value="高中">高中</option>
                  <option value="大学">大学</option>
                  <option value="研究生及以上" >研究生及以上</option>
                </select>
              </li>
              <li>
                <label for="working">工作</label>
                <input type="text" name="work" class="pay-txt" placeholder="工作"/>
              </li>
              <li>
                <label for="income">收入</label>
                <input type="text" name="income" class="pay-txt" placeholder="收入/月"/>
              </li>
            </ul>
            <h6>邮箱已绑定</h6>
            <ul>
              <li th:if="${session.email} ne null">
                <span>&nbsp;&nbsp;&nbsp;邮箱:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span th:text="${session.email}"></span>
                <!--<label id="form:email"></label>-->
              </li>
            </ul>
            <h6>手机号已绑定</h6>
            <ul>
              <li>
                <span>&nbsp;&nbsp;&nbsp;手机号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span th:text="${session.phone}"></span>
              </li>
              <li>
                <input type="submit" value="开户" style="border:none;" class="btn-paykh">
              </li>
            </ul>
          </div>
              </li>
            </ul>
          </div>

        </form>

        <!--省市县级联-->
        <!--查询省-->
        <script type="text/javascript">
        $(function(){
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/pca/province",
                success:function(data){
                    if(data!=''){
                        var Str = "";
                        for (var i = 0; i < data.length; i++) {
                            Str += "<option value='"+data[i].PROVINCE+"'>"+data[i].PROVINCE+"</option>";
                        }
                        $("#province").append(Str);
                    }
                }
            });

            <!-- 查询市 -->
            $("#province").change(function(){
                $("#city").empty();
                var pname = $(this).val();
                $.ajax({
                    type:"post",
                    dataType:"json",
                    data:{pname:pname},
                    url:"/pca/city",
                    success:function(data){
                        if(data!=''){
                            var Str = "";
                            for (var i = 0; i < data.length; i++) {
                                Str += "<option value='"+data[i].CITY+"'>"+data[i].CITY+"</option>";
                            }
                            $("#city").append(Str);
                        }
                    }
                })
            });

          <!-- 根据城市查询县 -->
            $("#city").change(function(){
                $("#area").empty();
                var cname = $(this).val();
                $.ajax({
                    type:"post",
                    dataType:"json",
                    data:{cname:cname},
                    url:"/pca/area",
                    success:function(data){
                        if(data!=''){
                            var Str = "";
                            for (var i = 0; i < data.length; i++) {
                                Str += "<option value='"+data[i].AREA+"'>"+data[i].AREA+"</option>";
                            }
                            $("#area").append(Str);
                        }
                    }
                })
            })
        })
        </script>
        <script type="text/javascript">
			//<![CDATA[
			           //验证邮箱是否为空
			           function checkactiveEmailFormEmail()
			           {
			        	   var email=$("#activeEmail\\:activeEmailemail").val();
			        	   var nullFlag=(email=="");
			        	   if(nullFlag)
				   			{
				   				$("#activeEmail\\:activeEmailemail_message").remove();
				   				var $span = $("<span id=activeEmail\:activeEmailemail_message class=error>请输入邮箱</span>");
				   				$("#activeEmailemailErrorDiv").append($span);
				   				return false;
				   			}
				   			else
				   			{
				   				var error=$("#activeEmailemailErrorDiv").text();
				   				if(error=='请输入邮箱')
				   				$("#activeEmail\\:activeEmailemail_message").remove();
				   			}
			        	   return true;
			           }
			           //验证所有
			           function checkActiveEmailAll()
			           {
			        	   checkactiveEmailFormEmail();
			        	   var emailErrorFlag=$("#activeEmailemailErrorDiv").text()=="";
			        	   return emailErrorFlag;
			           }
			//]]>
		</script>
      <script type="text/javascript">
				//<![CDATA[
		    	if(window.ActiveXObject)
			    {
			        var browser=navigator.appName
			        var b_version=navigator.appVersion
			        var version=b_version.split(";");
			        var trim_Version=version[1].replace(/[ ]/g,"");
			        if(browser=="Microsoft Internet Explorer" && trim_Version=="MSIE7.0")
			        {
			        	$("#form\\:sendAuthCodeBtn2").css("display","block");
			        	$("#form\\:sendAuthCodeBtn").css("display","none");
			        }
		        }
		        function sCode2(){
		        	var mobile = $("#form\\:mobileNumber").val();
		        	var mobileRegex="^1[3|4|5|7|8][0-9]{9}$";
		        	var mobilePattern = new RegExp(mobileRegex);
    				var mobileFlag=mobilePattern.test(mobile);

    				if(!mobileFlag){
    					return;
    				}

		        	$("#sendCode").hide();
					$("#sendCodeGrey").show();
					if(flag && $("#sendCode").is(":hidden")){
						return;
					}
					flag = true;
					timer("sendAuthCodeBtn1", {
						"count" : 60,
						"animate" : true,
						initTextBefore : "后可重新操作",
						initTextAfter : "秒",
						callback:function(){
							$("#sendCode").show();
							$("#sendCodeGrey").hide();
							flag = false;
						}
					}).begin();
		        }
		        var ua = navigator.userAgent;
				if(ua.indexOf("Windows NT 5")!=-1) {
				    if(window.ActiveXObject)
				    {
				        var browser=navigator.appName
				        var b_version=navigator.appVersion
				        var version=b_version.split(";");
				        var trim_Version=version[1].replace(/[ ]/g,"");
				        if(browser=="Microsoft Internet Explorer" && (trim_Version=="MSIE8.0" || trim_Version=="MSIE7.0"))
				        {
				        	$("#form\\:sendAuthCodeBtn2").css("display","block");
			        		$("#form\\:sendAuthCodeBtn").css("display","none");
				        }
			        }
				}

				var second = 0;
                var internal;
                /** 校验修改手机验证码 */
				function validateSMS(){
					$("#form\\:authCode_message").remove();
					var mobileNumber = $("#form\\:mobileNumber").val();
					if(mobileNumber == '请输入手机'){
		                return;
					}
					var returnResult = false;
					$.ajax({
						   url: "/valiSms",
						   async:false,
						   data:{
								mobileNumber:mobileNumber
						   },
						   success: function(data){
							   if(data.flag == 'NO'){
								   $("#form\\:authCode_message").remove();
						   		   var $span = $("<span id=form\:authCode_message class=alerterror>点击过于频繁,请<b>"+data.second+"</b>秒后重试</span>");
				   				   $("#authCodeErrorDiv").append($span);
								   second = data.second;
								   clearInterval(internal);
								   internal = setInterval(function(){
		                              if(second == 0){
		                            	  $("#form\\:authCode_message").remove();
		                              }else{
		                            	  second = second -1;
		                            	  $("#form\\:authCode_message").find('b').html(second);
		                              }
								   },1000);
								   returnResult = false;
							   }else if(data.flag == 'NO1'){
								   $("#form\\:authCode_message").remove();
						   		   var $span = $("<span id=form\:authCode_message class=alerterror>"+data.smsVali+"</span>");
				   				   $("#authCodeErrorDiv").append($span);
								   returnResult = false;
							   }else{
								   returnResult = true;
							   }
						   }
					    });
		               return returnResult;
				}
		        //]]>
		    </script>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--网站底部-->
<div id="footer" class="ft">
  <div class="ft-inner clearfix">
    <div class="ft-helper clearfix">
      <dl>
        <dt>关于我们</dt>
        <dd><a href="/jump/about">公司简介</a><a href="/jump/manage_team">管理团队</a><a href="/jump/site_notice">网站公告</a></dd>
      </dl>
      <dl>
        <dt>相关业务</dt>
        <dd><a href="/jump/list">我要投资</a><a href="/jump/borrow">我要借款</a></dd>
      </dl>
      <dl>
        <dt>帮助中心</dt>
        <dd><a href="/jump/help">新手入门</a><a href="/jump/personal">我的账户</a></dd>
      </dl>
      <dl>
        <dt>联系我们</dt>
        <dd><a href="/jump/contact">联系我们</a></dd>
      </dl>
    </div>
    </div>
    <div class="ft-service">
      <dl>
        <dd>
          <p><strong>400-660-1268</strong><br>
            工作日 9:00-22:00<br>
            官方交流群:<em>12345678</em><br>
            工作日 9:00-22:00 / 周六 9:00-18:00<br>
          </p>
          <div class="ft-serv-handle clearfix"><a class="icon-hdSprite icon-ft-sina a-move a-moveHover" title="亿人宝新浪微博" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-qqweibo a-move a-moveHover" title="亿人宝腾讯微博" target="_blank" href="#"></a><a class="icon-ft-qun a-move a-moveHover" title="亿人宝QQ群" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-email a-move a-moveHover mrn" title="阳光易贷email" target="_blank" href="mailto:xz@yirenbao.com"></a></div>
        </dd>
      </dl>
    </div>
    <div class="ft-wap clearfix">
      <dl>
        <dt>官方二维码</dt>
        <dd><span class="icon-ft-erweima"><img src="../images/code.png" style="display: inline;"></span></dd>
      </dl>
    </div>
  </div>
  <div class="ft-record">
    <div class="ft-approve clearfix"><a class="icon-approve approve-0 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-1 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-2 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-3 fadeIn-2s" target="_blank" href="#"></a></div>
    <div class="ft-identity">©2015 你我贷 All rights reserved&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/">皖ICP备12345678号-1</a></div>
  </div>
</div>
<script src="../script/jquery.datetimepicker.js" type="text/javascript"></script>
<script src="../script/datepicker.js" type="text/javascript"></script>
</body>
</html>
